<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{url_for('static', filename='/styles.css') }}"/>
    <title>Title</title>
</head>
<body>
    <form method="POST" action="/" class="table-form">
    <input class="main-page-inp" type="submit" name="submit_button" value="Show locations">
    <input class="main-page-inp" type="submit" name="submit_button" value="Show students">
    <input class="main-page-inp" type="submit" name="submit_button" value="Show EO">
    <input class="main-page-inp" type="submit" name="submit_button" value="Show Tests">
    <input class="main-page-inp" type="submit" name="submit_button" value="Filters">
</form>

<table class="table stl-select">
    <tr class="table__header">
        {% for header in headers %}
        <th class="table__cell">{{ header }}</th>
        {% endfor %}
        <th class="table__cell">Actions</th>
    </tr>
    {% for row in data %}
    <tr class="table__row">

        <form action="{{ url }}" method="POST">
    {% for cell in row %}
        <td class="table__cell">
            {% if loop.index == 1 %}
                {{ cell }}
                <input type="hidden" name="{{ headers[loop.index - 1] }}" value="{{ cell }}">
            {% else %}
                <input type="text" name="{{ headers[loop.index - 1] }}" value="{{ cell }}">
            {% endif %}
        </td>
    {% endfor %}
    <td>
        <input class="tabl-btn" type="submit" name="update_delete" value="Update">
    </td>
    <td>
        <input class="tabl-btn" type="submit" name="update_delete" value="Delete">
    </td>
</form>
    </tr>
    {% endfor %}
    <tr class="table__row">
        <td colspan="{{ headers|length }}">
            <form action="{{ url }}" method="POST">
                {% for header in headers %}
                <input type="text" name="{{ header }}" placeholder="{{ header }}" class="form-field">
                {% endfor %}
                <input class="tabl-btn" type="submit" name="Add data" value="Add data">
            </form>
        </td>
    </tr>
</table>

</body>
</html>